@charset "utf-8";
/* CSS Document */

body
{
	background-color: #16EBC0
}

#img
{
	position: relative;
	left: 50%;
	width: 480px;
	transform: translate(-50%,0);
}

#title
{
	position: relative;
	left: 50%;
	top: 50%;
	width: 400px;
	transform: translate(-50%,-10%);
	font-size: 1.5em;
}
