@charset "utf-8";
/* CSS Document */

#container
{
	position: relative;
	left: 50%;
	top: 50%;
	width: 140px;
	transform: translate(-65%,-40%);
	border: 1px solid #00BBFF;
	padding: 14px;
	border-radius: 16px;
}

#title
{
	position: relative;
	left: 50%;
	top: 50%;
	width: 400px;
	transform: translate(-50%,-10%);
}

#t2
{
	position: relative;
	left: -30px;
	top: -20px;
}

#t3
{
	position: relative;
	left: -30px;
	top: -20px;
}

body
{
	background-image: url("../image/bg.png");
	background-color:#CCCCCC;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	top: 100px;
}

#footer
{
	height: 25px;
	position:absolute;
	bottom: 0px;
	left: 0px;
	background-color: aqua;
}

#dropdown
{
	position: relative;
    display: inline-block;
}

.dropbtn
{
	background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content
{
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content p
{
	color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content p:hover 
{
	background-color: #f1f1f1
}

#desc
{
	position: relative;
	left: 50%;
	top: 50%;
	width: 370px;
	transform: translate(-55%,10%);
	border: 1px solid #00BBFF;
	padding: 14px;
	border-radius: 16px;
}